$color-dark: #52734d;
$color-dark-med: #638b5d;
$color-medium: #91c788;
$color-light: #ddffbc;
$color-beige: #fbfce8;
$color-black: rgb(0, 0, 0);

$default-font-size: 1.6rem;
$xl-heading-font-size: 6rem;
$large-heading-font-size: 3.5rem;
$medium-heading-font-size: 3rem;
$small-heading-font-size: 2rem;
