.header {
  height: 90vh;
  position: relative;
  width: 100%;
  @include flexCenter(column);

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/background-hero.jpg) fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(
      0% 0%,
      0% 100%,
      20% 100%,
      20% 20%,
      80% 20%,
      80% 80%,
      20% 80%,
      20% 100%,
      100% 100%,
      100% 0%
    );
  }

  &__box {
    max-width: 60%;
    max-height: 70%;
  }

  &__logo {
    width: 8rem;
    margin-bottom: 2rem;
    animation: moveFromTop 1s 0.75s;
    animation-fill-mode: backwards;
  }
}
