.header {
  height: 90vh;
  position: relative;
  width: 100%;
  @include flexCenter(column);

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/background-hero.jpg) fixed;
    background-size: cover;
    background-position: center;
  }

  &__box {
    width: 60%;
    height: 70%;
    background-color: $color-beige;
    @include flexCenter(column);
  }

  &__logo {
    width: 8rem;
    margin-bottom: 2rem;
    animation: moveFromTop 1s 0.75s;
    animation-fill-mode: backwards;
  }
}
