.form {
  @include flexStart(column);
  gap: 4rem;

  &__input {
    font-size: $default-font-size;
    font-family: inherit;
    width: 90%;
    padding: 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-medium;
    }
  }
}
