.form {
  @include flexStart(column);
  gap: 4rem;

  &__input {
    font-size: $default-font-size;
    font-family: inherit;
    width: 90%;
    padding: 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-medium;
    }
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__checkbox-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-dark;
    border-radius: 50%;
    display: inline-block;
    @include flexCenter(row);
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: $color-dark;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__checkbox-input:checked + &__checkbox-label &__checkbox-button::after {
    opacity: 1;
  }
}
