.section-about {
  padding: 7.5rem 0;

  &--content {
    @include flexCenter(row);
    gap: 5rem;
  }

  &--text {
    @include flexStart(column);
    width: 50%;
  }

  &--images {
    width: 50%;
  }
}

.section-features {
  padding: 20rem 2rem;
  display: flex;
  gap: 3rem;
  background-image: url(/img/features-background.jpg);
  background-size: cover;
}
