.section-about {
  padding: 10rem 0 15rem 0;

  &--content {
    @include flexCenter(row);
    gap: 5rem;
  }

  &--text {
    @include flexStart(column);
    width: 50%;
  }

  &--images {
    width: 50%;
  }
}

.section-features {
  padding: 30rem 2rem;
  display: flex;
  gap: 3rem;
  background: url(../img/background-features.jpg) fixed;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
  background-size: cover;
}

.section-baskets {
  padding: 8rem 10rem;
}

.section-reviews {
  padding: 5rem 0;
  position: relative;
}

.review-box {
  @include flexCenter(column);
  gap: 5rem;
}
